.Box-row.unread {
    box-shadow: inset 2px 0 0 var(--color-border-info)
} 
. Box-row.navigation-focus .Box-row--drag-button {
    color:var (--color-text-link);
    cursor:grab;opacity:1 
} 
.Box-row.navigation-focus.is-dragging .Box-row--drag-button {
    cursor:grabbing 
} 
.Box-row.navigation-focus.sortable-chosen {
    background-color:var (--color-bg-secondary)
} 
.Box-row.navigation-focus.sortable-ghost {
    background-color:var (--color-bg-tertiary)
} 
